:root {
  --main-white: #EBEBEB;
  --main-gray: #3E3E3E;
  
  
  /*GRADIENT*/
  --dark-sienna: #250902ff;
  --dark-sienna-2: #38040eff;
  --rosewood: #640d14ff;
  --ou-crimson-red: #800e13ff;
  --upsdell-red: #ad2831ff;
}

/*RESET the default setting*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/*DEFAULT*/
html {
  font-size: 10px;
  
  scroll-behavior: smooth;
}

/*STYLE*/

body {
  
  
  font-family:  Helvetica, sans-serif;
  font-weight: 500;
  text-align: left;
  

  
  overflow-x: hidden;
  color: ;
}

h1, h2{
  margin-top: 60px;
  font-family:  'Ubuntu', serif;
  font-size: 60px;
  
}

h2{
 
  font-size: 40px;
  
}
h3{
	 font-family:  'Ubuntu', serif;
	font-size: 30px;
}

h3 .Cap{
	
	 text-transform: capitalize;
}

h4 {
	 font-family:  'Ubuntu', serif;
	font-size: 20px;
}
p{
	text-indent: 15px;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 40px;
	line-height: 35px;
	
}

.video{
	
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	
	
}
.ref li{
	margin-top: 60px;
	line-height: 25px;
}

.content {
	
	font-size: 20px;

	margin-top: 30px;
	padding: 40px 100px;
	line-height: 35px;
	
}

.contentsize {
	
	font-size: 25px;
}

.content p button{
	
	

}


.intro-section {
	margin-top: 10px;
	
	
}


.nav-hidden {

	width: 350px;
	height: 100vh;/*visual area 100%*/
	position: fixed; /*will show on top of everything*/
	
	/*position in the top right corner*/
	top: 0;
	right: 0;
	padding: 15px 15px;
	
	background-color: #FFA500;
	transform: translateX(px);
}

.nav-close{
	
	background: none;
	border: none;
	
	/*vertically align close icon*/
	display: flex;
	align-items: center;
	
	/*cancel btn position at right of the menu*/
	margin-left: auto;
	
	padding: 20px 30px;
	color: #FFFFFF;
	
	cursor: pointer;
	
	
	
}


.navbar{
  
	background-color: white;
	
	top: 0;
	margin:0 auto;
	width: 100%;
	padding: 0px 10px 0px 80px;
	height:auto;
	font-size: 25px;
	display:inline-block;
	box-shadow: 0 4px 2px -2px black;
	position: -webkit-sticky;
	position: sticky;
	z-index: 100;
	
	
	
}
.navbar ul {
	
	
	margin:0;
	padding:0;
	list-style-type:none;
	float:left;
	display:inline-block;
}

.navbar ul li {
  
	
	position:relative;
	margin:0 100px 0 0;
	float:left;
	display:inline-block;
	
}

/*menu-fontcolor*/
.navbar ul li a {
	width:100%;
	color: black;
	padding:20px;
	display:inline-block;
	
	text-decoration:none;
}

.navbar ul li a:hover {
  background: #036bff;
  color: white;
  
  width:100%;
	
}


/*menu sub-menu*/
.navbar ul li ul {
  
  
	display:none;
	position:absolute;
	left:0;
	background: var(--main-white);
	float:left;
	
	
	
}

.navbar ul li ul li{
	width:100%;
	border-bottom:1px solid rgba(255,255,255,.8);
	
}

.navbar ul li:hover ul {
  
	display: block;
  
	
	
	
	
	
}


/*Pros and Cons*/
.subtitle {
	
	margin-top: 130px;
}

.con-img{
	
	float:right; 
	width:600px;
	height:400px;
	margin-left: 60px;
}

.con-imgr{
	
	float:left; 
	width:600px;
	height:400px;
	margin-right: 60px;
}

.container {
	
	width: 90%;
	margin: 50px auto;
	
	
}

.head{
	text-align: left;
	margin-bottom: 50px;
	
	
}
.indexhead{
	
	 
	vertical-align: top;
}



.introbtn {
	
	margin-top: 50px;
	position: relative;
	
	left: 50%;
	transform: translate(-50%, -50%);
}
.introbtn a {
	 display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  margin-bottom: 30px;
}
.introbtn a span{
	
	position: relative;
	z-index: 2;
  
}

.introbtn a:after {
	
	position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #036bff;
  transition: all .35s;
}

.introbtn a:hover{
	
	  color: #fff;
}

.introbtn a:hover:after{
  width: 100%;
}

.intro-img {
	
	margin-left: 30px;
}
.bgimg{
	
	
	height: 100vh;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/5935792/pexels-photo-5935792.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-size:cover;
	position: relative;
  text-align: center;
  color: white;
  
  
}


.centered{
	
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
	
	padding: 40px;

}
.centered:hover{
	opacity: 0.9;
}

.centered span a {
	
	color: #1ed2ff;
	font-size: 20px;
	padding: 50px;
}
.profile-img{
	vertical-align: middle;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	margin-bottom: 30px;
	border: 5px solid #036bff;
	margin-top: 20px;


}

.profile-img:hover{
	width: 190px;
	height: 190px;
}



ion-icon {
  font-size: 64px;
}

.subheading {
	
	margin-top: 80px;
	
}



/* Contact us Form */
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;

	grid-template-rows: 80px 200px;
	
	gap: 30px;
	
	padding: 10px;
	
	
	
	
	
	
}
input[type=text], textarea {
	width: 100%;
	padding: 12px;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 20px;
	resize: vertical;
}

input[type=submit]{
	background-color: black;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	
	margin-bottom: 50px;
	
	align-items: center;
	font-weight: bold;
}
input[type=submit]:hover{
	background-color: #036bff;
	color: white;


	
}

.contactUs{
	
	padding: 20px;
	border-radius: 5px;
	
	
}

label{
	
	
	font-size: 15px;
	
}
form{
	margin-top: 30px;
	
	
}

/*Members Section*/
.column1 {
  float: left;
  width: 35%;
  margin-left: 100px;
  
}

.row1 {
	margin: 0 -5px;}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

/* Float columns side by side */
.column {
	
  float: left;
  width: 60%;
  padding: 0px;
  
  
}

/* Remove extra left and right margins, due to padding in columns */
.row {
	margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#containercard{
	
	margin-left: 80px;
	
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  border-radius: 50px;
  padding: 16px;
  text-align: center;
  background-color: black;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-right: 50px;
  width: 500px;
  height: 550px;
  color: white;
}


.subtitle{
	
	margin-top: 40px;
}
.card-header{
	
	font-size: 45px;
}
.cardbody{
	
	padding-left: 15px
	padding-right: 15px;
	padding-bottom: 20px;
}

.listcenter{
	
	 text-align: left;
	 font-size:15px;
	 padding: 70px;
	 padding-top: 0;
	 padding-left: 80px;
}

.iconsize i{
	
	
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 50px;
	text-indent: 15px;
	
	
}

.iconsize a {
	
	color: black;
}

.iconsize a:hover {
	
	color:  #036bff;
}

.conhp {
	
	margin-top: 60px;
}

/*Discussion*/
.discussionimg{
	
	height: 100vh;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/2422280/pexels-photo-2422280.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size:cover;
	position: relative;
  text-align: center;
   color: white;
  
	
}

.probimg{
	
	margin-top: 100px;
	height: 100vh;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size:cover;
	position: relative;
  text-align: center;
   color: white;
  
	
}

.chart p img {
	
	
}